<div class="score_bar">
  <div class="score">
    <p>5 Correct <img src="./imgs/goodacorn.png" width="30px"/> &nbsp;&nbsp;&nbsp;&nbsp;
4 Wrong <img src="./imgs/badacorn.png" width="30px"/>
  </div>
</div>
<div class="padding"></div>
<div class="card">
  <h1>How many fingers do people have?</h1>
</div>

