<div class="score_bar">
  <div class="score">
    <p>5 Correct <img src="/imgs/goodacorn.png" width="30px"/> &nbsp;&nbsp;&nbsp;&nbsp;
5 Wrong <img src="/imgs/badacorn.png" width="30px"/>
  </div>
</div>
<div class="padding"></div>
<div class="card">
  <h1>How many fingers do people have?</h1>

<div class="answer_section">
  <form>
    <input type="text" name="answer" placeholder="11">

  </form>


  <p style="padding-top: 100px;">Wrong! </p>
  <img src="/imgs/badacorn.png" width="30px"/> <br><br><br>
  <button type="submit">Next</button>

</div>
