
<div class="spacing"></div>
<div align="center">
<div class="spacing"></div>
<p>Welcome to SquirrelCards!</p>
<p>Create flashcards to help you study for an exam, prepare for stuff, do things, pass time, gain brain cells, stare at a screen, click on stuff. </p>
</div>
