<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>


<body>


<div class="container">
  <p>Welcome Guest!<span class="right-align"> Sign In | Register </span></p>
</div>

<div class="banner">
  <img src="http://oi58.tinypic.com/6ivh1y.jpg" class="logo"/>
  <h1 class="logo_text">SquirrelCards</h1>
  <p>Flashcards to get your nuts in place</p>
</div>

<div class="footer">
  <p>&copy; SquirrelCards</p>
</div>

  <%= yield %>
</body>
</html>
